@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: poppins;
    src: url("./assets/Poppins/Poppins-Medium.ttf");
}

body{
    background: linear-gradient(rgb(3, 50, 50, 0.9), rgb(3, 50, 50, 0.9)), url('../src/assets/bg1.jpg');
    font-family: poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body::-webkit-scrollbar-thumb{
  background-color: rgb(6, 77, 77);
  border-radius: 10px;
}

body::-webkit-scrollbar{
  background-color: rgb(3, 50, 50);
  width: 10px;
}

div{
    color: #F4F4FC;
    /* color: #afb8a8; */
    /* color: rgba(10, 209, 209, 0.9); */
}

.custom-typed-cursor {
  background: url('./assets/cursor.png') no-repeat;
  display: inline-block;
  width: 80px; /* Adjust width and height based on your cursor image */
  height: 70px;
  vertical-align: middle;
}



/* Custom styling */
.ma {
  margin: 0 auto;
}
ul.list-leaf {
  list-style: none; /* Remove default list styling */
  padding-left: 1.5rem; /* Ensure the padding aligns the list inside the box */
  margin: 0; /* Remove default margins */
}

ul.list-leaf li {
  margin-left: 0; /* Adjust margin to align the text properly */
  padding: 0.5rem 0; /* Add some padding to space out the list items */
  display: flex;
  align-items: center;
}

ul.list-leaf li::before {
  content: '';
  background-image: url('./assets/leaf-50.png'); /* Use the leaf image */
  background-size: contain; /* Ensure the image scales properly */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: inline-block;
  margin-right: 0.5rem; /* Adjust the space between the leaf and the text */
  width: 2rem; /* Adjust the width for the leaf size */
  height: 2rem; /* Adjust the height for the leaf size */
  vertical-align: middle; /* Align vertically with the text */
}




.btn1 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #A9D681 0, #84b855 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(60, 245, 106, 0.4) 0 2px 4px,rgba(24, 176, 62, 0.3) 0 7px 13px -3px,rgba(24, 185, 38, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn1:focus {
  box-shadow: #2dc46c 0 0 0 1.5px inset, rgba(59, 228, 107, 0.4) 0 2px 4px, rgba(131, 246, 217, 0.3) 0 7px 13px -3px, #44e03c 0 -3px 0 inset;
}

.btn1:hover {
  box-shadow: rgba(56, 254, 1, 0.4) 0 4px 8px, rgba(13, 255, 0, 0.3) 0 7px 13px -3px, #179737 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn1:active {
  box-shadow: #3ce05d 0 3px 7px inset;
  transform: translateY(2px);
}



/*! CUSTOM ANIMATIONS */
.fade-in {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  opacity: 0; /* Start hidden */
}

.fade-in-left.in-view {
  animation: fadeInLeft 1s ease-in-out forwards;
}


.fade-in-left:nth-child(1) {
  animation-delay: 0.1s;
}
.fade-in-left:nth-child(2) {
  animation-delay: 0.2s;
}
.fade-in-left:nth-child(3) {
  animation-delay: 0.3s;
}
/* Add more nth-child rules as needed */
